/*공통 스타일*/

/*로고 가운데 정렬*/
/*.logo-center .top-navbar .navbar-header {*/
/*position: absolute;*/
/*left: 0;*/
/*right: 0;*/
/*margin: 0 auto; }*/

.soo-card {
    background: #fff;
    border: 1px solid #dedede;
}

.sj-white {
    color: #fff;
}

.topbar .navbar-header {
    background: none;
}

.navbar-nav .mega-dropdown .dropdown-menu {
    padding: 0;
}

.navbar-nav .dropdown-menu ul li a{
    width: 100%;
    padding: 16px 26px;
    border-top: 1px solid #dedede;
}

.navbar-nav .dropdown-menu ul li:first-child a {
    border-top:none;
}


/** chat **/
.chat-list{
    overflow: hidden; width: auto; height: 97px;
}
.chat-rbox {
    overflow: visible;
}
.slimScrollDiv {
    position: relative; overflow-x: visible; overflow-y: hidden; width: auto; height: 100%;
}
.slimScrollBar {
    background-color: rgb(220, 220, 220); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 405.4821428571429px; background-position: initial initial; background-repeat: initial initial;
}
.slimScrollRail {
    width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; background-color: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px; background-position: initial initial; background-repeat: initial initial;
}
.chat-main-box .chat-right-aside {
    width: 100% !important;
}
.sj-chat-time {
    color:#99abb4;
    font-size:13px;
}
.nodisplay {
    display: none;
}
.user-profile {
    background: url(../../assets/images/background/user-info.jpg) no-repeat;
}
.sj-icon{
    width: 70px;
    height: 70px;
    padding: 0 !important;
}